<div class="container" id="con">
  <h3>Ingredients</h3>

  <div class="row justify-content-start" *ngIf="auth.isLoggedIn" >
    <div class="col-4">
      <form (ngSubmit)="onSubmit()" #reviewForm="ngForm" >

        <div class="form-group" >
          <label for="title">Name</label>
          <input type="text"
                 class="form-control"
                 id="title"
                 [(ngModel)]="ingredient.name"
                 name="title"
                 required>
        </div>

        <button type="submit" class="btn btn-primary">Add</button>

      </form>
    </div>
  </div>

  <div class="row justify-content-start" *ngIf="auth.isLoggedIn">
    <div class="col-4">
      <form (ngSubmit)="onSearch(ing)" #reviewForm="ngForm">

        <div class="form-group" *ngFor="let ing of ingredients">

          <input type="checkbox"
                 id="title"
                 [(ngModel)]="ing.Checked"
                 name="ing.name"
                 value="{{ing.name}}">{{ing.name}}
        </div>

        <button type="submit" class="btn btn-primary">Search</button>

      </form>
    </div>
  </div>

  <div class="row justify-content-start" > <!-- *ngIf="auth.isLoggedIn"-->
    <div class="col-4">
      <form (ngSubmit)="onSearch(ing)" #reviewForm="ngForm">

        <div class="form-group" >
          <input type="checkbox"
                 id="title"
                 [(ngModel)]="ing.Checked"
                 name="ing[]"
                 value="1">Lettuce
        </div>

        <button type="submit" class="btn btn-primary">Search</button>

      </form>
    </div>
  </div>

</div>
<div *ngIf="ing">
    nik
</div>
